                           **Data Types and Structure**
                   

1. What are data structures, and why are they important ?

  ANS-They are ways of organizing and storing data in a computer so it can be used efficiently.
   
  Importance:-
  
  -Make programs faster and use less memory.

  -Help organize and manage data.

  -Simplify problem-solving.

  -Essential for optimizing performance.

 Examples: Arrays, Linked Lists, Stacks, Queues, Trees, Graphs, Hash Tables.

2.  Explain the difference between mutable and immutable data types with examples.

 ANS-Mutable: Can be changed after creation.
   
 Examples: list, dict, set

 Immutable: Cannot be changed after creation.
  
 Examples: int, float, str, tuple

  Mutable

 a = [1, 2]

 a.append(3)  # a becomes [1, 2, 3]

  Immutable

 b = "hi"
  
 b = b + " there"  # creates new string "hi there"

3. What are the main differences between lists and tuples in Python ?

 ANS-List: Mutable, uses [], can be changed.

  Tuple: Immutable, uses (), cannot be changed.
  
  Example:

  [1, 2, 3]  # List

  (1, 2, 3)  # Tuple


4. Describe how dictionaries store data.

 ANS-A dictionary stores data as key-value pairs.
  
  Each key is unique and points to a value.

 Example:

 student = {"name": "Alice", "age": 20}

5. Why might you use a set instead of a list in Python ?

 ANS-Set: Unordered, no duplicates, fast lookup.

 List: Ordered, allows duplicates, slower lookup.

6. What is a string in Python, and how is it different from a list ?

 ANS-String:

 A string is a sequence of characters enclosed in quotes.

 Example:

 text = "Hello"

 Difference between list and string:-

 A string is a fixed sequence of characters.
  
 A list can hold anything and can be modified.


7. How do tuples ensure data integrity in Python ?

 ANS-In Python, tuples are an immutable, ordered collection of elements.

 Their immutability is key to how they help ensure data integrity.

 What is Data Integrity in This Context?

 -Data integrity here means making sure data:

 -Stays unchanged when it’s not supposed to be changed.

 -Is reliably consistent throughout the program execution.

8. What is a hash table, and how does it relate to dictionaries in Python ?

 ANS-A hash table is a data structure that maps keys to values using a hash function.

 -The hash function takes a key and computes an integer (called a hash code).

 T-hat hash code determines where the value is stored in memory (in an array-like structure called a bucket array).

 -This allows for very fast lookup, insertion, and deletion — typically O(1) time on average.

 How Does This Relate to Dictionaries in Python?

 -In Python, the built-in dict type is implemented using a hash table.

9. Can lists contain different data types in Python ?

 ANS-n Python, a list is a dynamic, ordered collection of items that can hold

  elements of any data type, and those types don’t have to be the same within a
  
  single list.

  Example:-

  my_list = [42, 'hello', 3.14, True, [1, 2, 3], {'a': 1}]

 print(my_list)

10. Explain why strings are immutable in Python.

 ANS-Data Integrity: Keeps hash values constant, so strings can safely be used as dictionary keys or set elements.

 Performance: Enables memory optimization via interning (reusing identical string objects).

 Thread-Safety: Immutable strings are safe to share across threads without locking.

 Predictability: Prevents unexpected side effects — any "change" to a string creates a new one.

11. What advantages do dictionaries offer over lists for certain tasks ?

 ANS-Faster lookups using keys (O(1))

 -Store data as key-value pairs

 -No duplicate keys

 -Better for mapping related data

 -More readable and self-descriptive

12. Describe a scenario where using a tuple would be preferable over a list.

 ANS-Storing a fixed set of coordinates (like GPS location or 2D point)

 Example:
  
 location = (40.7128, -74.0060)  # Latitude, Longitude

 Why a Tuple is Better:

 -The data is fixed and should not change.

 -Immutability ensures the coordinates stay consistent.

 -Can be safely used as a key in a dictionary or element in a set (since it’s
  hashable, unlike a list).

13. How do sets handle duplicate values in Python ?

 ANS-Sets automatically discard duplicate values.

 When you add elements to a set, any duplicates are ignored — only unique values are kept.

 Example:-

 my_set = {1, 2, 2, 3, 3, 3}

 print(my_set) output:- {1, 2, 3}

14.  How does the “in” keyword work differently for lists and dictionaries ?

 ANS-List:-	Checks if a value exists in the list

  Dictionary:- Checks if a key exists in the dictionary

15. Can you modify the elements of a tuple? Explain why or why not.

 ANS-No — you cannot modify the elements of a tuple.

 Why?

 -Because tuples are immutable.

 -Once a tuple is created:

 -You can’t change, add, or remove its elements.

 -Any attempt to do so will raise a TypeError.

16. What is a nested dictionary, and give an example of its use case ?

 ANS-A nested dictionary is a dictionary inside another dictionary.

 It allows you to store complex, structured data in a clean and organized way

 using key-value pairs, where some values are themselves dictionaries.

 Example:-

 students = {

    'Alice': {'age': 20, 'grade': 'A'},

    'Bob': {'age': 22, 'grade': 'B'}
 }

 print(students['Alice']['grade'])  # Output: A

 Use Case:

 -When you need to store related, structured data for multiple entities.

 Example scenarios:

 -Student records (name, age, grades)

 -Product catalogs (product name, price, stock)

 -User profiles (username, email, preferences)

17. Describe the time complexity of accessing elements in a dictionary.

 ANS-verage case: O(1) (constant time)

 Worst case: O(n) (very rare, due to hash collisions)

18. In what situations are lists preferred over dictionaries ?

 ANS-Use lists when:

 -Order matters — you need to maintain the sequence of items.

 -You’re dealing with a simple collection of values (not key-value pairs).

 -You need to iterate over all items by position (index).

 -You don’t need to label or uniquely identify each item.

 -Duplicate values are allowed and meaningful.

19. Why are dictionaries considered unordered, and how does that affect data
 retrieval ?

 ANS-Dictionaries are unordered because they use hash tables for fast key-based access, not item positions.

20. Explain the difference between a list and a dictionary in terms of data
 retrieval.

 ANS-Lists retrieve data by index (position).

 Dictionaries retrieve data by key.

 Both are usually O(1) in time.















                          **PRACTICAL QUESTION**

In [2]:
# 1. Write a code to create a string with your name and print it
my_name = "Gaurav"
print(my_name)

Gaurav

In [3]:
# 2. Write a code to find the length of the string "Hello World"
print(len("Hello World"))

11

In [4]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"
text = "Python Programming"
print(text[:3])

Pyt

In [5]:
# 4. Write a code to convert the string "hello" to uppercase
print("hello".upper())

HELLO

In [6]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
sentence = "I like apple"
print(sentence.replace("apple", "orange"))

I like orange

In [7]:
# 6. Write a code to create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [8]:

# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]
nums = [1, 2, 3, 4]
nums.append(10)
print(nums)

[1, 2, 3, 4, 10]

In [9]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
nums2 = [1, 2, 3, 4, 5]
nums2.remove(3)
print(nums2)

[1, 2, 4, 5]

In [31]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [10]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50]
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

In [11]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it
tup = (100, 200, 300)
print(tup)

(100, 200, 300)

In [12]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [13]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)
nums_tuple = (10, 20, 5, 15)
print(min(nums_tuple))

5

In [14]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [15]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
fruits = ("apple", "banana", "cherry")
print("kiwi" in fruits)

False

In [16]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'a', 'c'}

In [17]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [18]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}
s2 = {1, 2, 3, 4}
s2.remove(4)
print(s2)

{1, 2, 3}

In [19]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [20]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
print(set1.intersection({2, 3, 4}))

{2, 3}

In [21]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it
person = {"name": "John", "age": 30, "city": "New York"}
print(person)

{'name': 'John', 'age': 30, 'city': 'New York'}

In [22]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
person2 = {'name': 'John', 'age': 25}
person2["country"] = "USA"
print(person2)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [23]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
person3 = {'name': 'Alice', 'age': 30}
print(person3["name"])

Alice

In [24]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
person4 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person4["age"]
print(person4)

{'name': 'Bob', 'city': 'New York'}

In [25]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
person5 = {'name': 'Alice', 'city': 'Paris'}
print("city" in person5)

True

In [26]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 1, "b": 2}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2}

In [27]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result
import random
rand_nums = [random.randint(1, 100) for _ in range(5)]
rand_nums.sort()
print(rand_nums)

[5, 19, 41, 58, 65]

In [28]:
# 28. Write a code to create a list with strings and print the element at the third index
str_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(str_list[3])

date

In [29]:
# 29. Write a code to combine two dictionaries into one and print the result
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [30]:
# 30. Write a code to convert a list of strings into a set
str_list2 = ["apple", "banana", "cherry"]
print(set(str_list2))

{'banana', 'apple', 'cherry'}